* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .icono{
    width: 120px;
  }



.conf {
    padding-right: 240px;
}

#carouselExampleControls img{
    filter: brightness(50%);
  }

  .card-img-top {
    height: 100%;
    object-fit: cover;
  }

.oradores {
    text-align: center;
    padding: 10px;
  }

  .honolulu {
    display: flex;
    gap: 1px;
    padding: 30px 0 30px 0 ;
  }
  .img-honolulu {
    width: 50%;
  }

  .txt-honolulu {
   
    width: 50%;
    padding: 10px;
    background-color: rgb(65, 65, 65);
    text-align:justify;
  }


  .info{
    padding :0 200px 0 200px ;
  }

  .boton{
    padding-left: 10%;
    border-bottom: 0;
    width: 100%;
    background-color: #81c53d;
  }


.btn-success-submit:hover {
    width: 100%;
    background-color: #609130;
  }


  .categoria-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card-categoria {
      text-align: center;
  }
  
  .card-title  {
    font-size: 35px;
  }
  
  .card-porcentaje {
    font-weight: bold;
  }
  
  .card-estudiante {
    border: 1px solid blue; 
  }
  
  .card-trainee {
    border: 1px solid green; 
  }
  
  .card-junior {
    border: 1px solid orange; 
  }
  
  .blue {
    background-color: lightblue;
    width: 98%;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #cde1f5;
  }
  
  .green2 {
    background-color: #96c93e;
  }


  footer {
    
    background-color: rgb(58, 58, 65);
    margin-top: 20px;
}
